caption {
  caption-side: bottom;
  text-align: right;
}
h1 {
  font-style: italic;
  color: #373fff;
}

.color:nth-child(odd){
  background-color: #ff33cc;
}

.color:nth-child(even) {
  background-color: #e495e4; 
}

table {
  border-style: solid;
  border-width: 3px;
  border-color: #800080;
  border-collapse: collapse;
  text-align: center;
}

tfoot {
  background-image: url(./assets/leopardskin.jpg);
  border-style: solid;
  border-width: 3px;
  border-color: #800080;
  color: white;
  font-family: Rock Salt;
}

thead {  
  background-image: url(./assets/leopardskin.jpg);
  font-family: Rock Salt;
  border-style: solid;
  border-width: 3px;
  border-color: #800080;
  color: white;
}

tbody {
  font-family: Helvetica;
  background-image: url("noise.jpg");
}